DB_PASSWORD=change_me_strong_password
JWT_SECRET=change_this_to_a_long_random_secret
FRONTEND_AUTH_CALLBACK_URL=http://127.0.0.1:8080/index.html

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/auth/oauth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/api/auth/oauth/github/callback
